.minidoc-editor:focus {
  outline: none;
}

.minidoc-editor {
  position: relative;
}

.minidoc-editor:before {
  content: attr(placeholder);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  cursor: text;
}
