/** Cards **/
mini-card {
  display: block;
  outline: none;
  position: relative;
  margin-bottom: 1rem;
  clear: both;
  margin: 0.5rem 0;
}

.minidoc-editable .minidoc-card-contents::before {
  content: '';
  width: 1.5rem;
  box-sizing: border-box;
  padding: 0.5rem;
  position: absolute;
  top: -0.35rem;
  left: -1.5rem;
  z-index: 10;
  cursor: move;
}

.minidoc-editable .minidoc-card-contents:hover::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 6' stroke='%23777'%3E%3Cpath d='M1,1h0 M3,1h0 M1,3h0 M3,3h0 M1,5h0 M3,5h0' stroke-linecap='round' /%3E%3C/svg%3E");
}

.minidoc-editable .minidoc-card-active {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #6366f1;
  border-radius: 1px;
  z-index: 10;
}

minidoc-focuser {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
}

.minidoc-card-align-left {
  float: left;
  width: calc(50% - 1rem);
  margin-right: 2rem;
}

.minidoc-card-align-right {
  float: right;
  width: calc(50% - 1rem);
  margin-left: 2rem;
}

/** Drag / drop **/
.minidoc-drop-target {
  position: relative;
  display: block;
  z-index: 1000;
}

.minidoc-drop-target::before {
  content: '';
  position: absolute;
  background: #4338ca77;
  top: -12px;
  left: 0;
  right: 0;
  height: 6px;
  border-radius: 4px;
}
